.card__table {
    -webkit-box-shadow: 7px 0 15px 2px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 7px 0 15px 2px rgba(0, 0, 0, 0.11);
    box-shadow: 7px 0 15px 2px rgba(0, 0, 0, 0.11);

    padding: 1.5em;
    border-radius: 10px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;

        .title {
            display: flex;
            align-items: center;
            gap: 0.5em;

            text-transform: capitalize;
            font-weight: 500;
            font-size: 1.5em;
            color: var(--segundario-fraco);            
        }
    }
}
