.loading {

    min-width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .load {
        animation: is-rotating 1s infinite;
        border-radius: 100%;

        background: radial-gradient(farthest-side,#6C4FFF 94%,#0000) top/9px 9px no-repeat,
          conic-gradient(#0000 30%,#6C4FFF);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    
        height: 40px;
        width: 40px;
    }
}


@keyframes is-rotating {
    to {
        transform: rotate(1turn) rotateZ(2turn);
    }
}
