.formInput {

    width: 100%;
    max-width: 500px;
    min-width: 200px;

    display: flex;
    flex-direction: column;
    gap: .5em;

    label {
        font-weight: 500;
        color: var(--segundario-fraco);
    }

    input {
        padding: 15px 10px;
        width: 100%;

        border: .5px solid #00000050;
        border-radius: 5px;
        outline: none;
        background: transparent;

        &:focus {
            border: .5px solid #00000095;
        }

        &:disabled {
            background-color: #00000010;
        }

        &:invalid[focus="true"] {
            border: .5px solid var(--fail);
            color: var(--fail);
        }

        &:invalid[focus="true"] ~ label {
            color: var(--fail);
        }

        &:invalid[focus="true"] ~ span {
            display: block;
            animation: fadeIn .5s ease forwards;
        }
    }

    span {
        color: var(--fail);
        font-size: 12px;
        display: none;
        opacity: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}