.card__table {
    -webkit-box-shadow: 7px 0 15px 2px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 7px 0 15px 2px rgba(0, 0, 0, 0.11);
    box-shadow: 7px 0 15px 2px rgba(0, 0, 0, 0.11);

    padding: 1.5em;
    border-radius: 10px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;

        .title {
            display: flex;
            align-items: center;
            gap: 0.5em;

            text-transform: capitalize;
            font-weight: 500;
            font-size: 1.5em;
            color: var(--segundario-fraco);            
        }
    }

    .table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 0.5px solid #00000020;

        tr {

            td,
            th {
                border-top: 0.5px solid #00000020;
                border-bottom: 0.5px solid #00000020;
                text-align: left;
                padding: 1em;
            }

            th {
                font-weight: 500;
                color: var(--principal);
            }

            td {
                color: var(--segundario);
            }

        }        
    }

    .btn {
        border: none;
        outline: none;

        padding: 0.5em 1em;
        border-radius: 5px;
        background: transparent;
        cursor: pointer;

        font-weight: 500;

        transition: background .7s ease, color .5s ease;

        &.view {
            color: #1f4d6b;
            border: .5px dotted var(--default);

            &:hover {
                background-color: var(--default);
            }
        }

        &.delete {
            margin-left: 1em;
            color: #79263b;
            border: .5px dotted var(--fail);

            &:hover {
                background-color: var(--fail);
            }
        }

        &.new {
            margin-left: 1em;
            color: #30641b;
            font-size: 1em;
            border: .5px dotted var(--sucesso);

            &:hover {
                background-color: var(--sucesso);
            }
        }
    }
}
