@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --principal: #6C4FFF;
    --segundario: #0E0B26;
    --segundario-fraco: #0e0b2685;

    --sucesso: #32d155;
    --default: #4fb9ff;
    --fail: #ff4f7b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;

    &::-webkit-scrollbar-track {
        background-color: white;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background: var(--principal);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: var(--principal);
    }
}

Link, a {
    text-decoration: none;
    color: var(--principal);
}