@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --principal: #6C4FFF;
    --segundario: #0E0B26;
    --segundario-fraco: #0e0b2685;
    --gradient: linear-gradient(90deg, rgba(108,79,255,1) 0%, rgba(255, 255, 255, 0) 100%);

    --sucesso: #32d155;
    --default: #4fb9ff;
    --fail: #ff4f7b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;

    &::-webkit-scrollbar-track {
        background-color: white;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background: var(--principal);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: var(--principal);
    }

    a {
        text-decoration: none;
        color: var(--principal);
    }

    .btn {
        height: 40px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border: none;
        outline: none;
    
        padding: 0.5em 1em;
        border-radius: 5px;
        background: transparent;
        cursor: pointer;
    
        font-weight: 500;
        font-size: 1rem;
    
        transition: background .7s ease, color .5s ease;
    
        &.cancel {
            margin-left: 1em;
            color: #79263b;
            border: .5px dotted var(--fail);
    
            &:hover {
                background-color: var(--fail);
            }
        }
    
        &.new,
        &.sucess {
            color: #30641b;
            font-size: 1em;
            border: .5px dotted var(--sucesso);
    
            &:hover {
                background-color: var(--sucesso);
            }
        }
    
        
        &.view {
            color: #1f4d6b;
            border: .5px dotted var(--default);
    
            &:hover {
                background-color: var(--default);
            }
        }
    
        &.delete {
            margin-left: 1em;
            color: #79263b;
            border: .5px dotted var(--fail);
    
            &:hover {
                background-color: var(--fail);
            }
        }
    }
}


@keyframes fadeIn_up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}